.contactlogo_23_47 {
	position: relative;
	left: 1200px;
	top: 32px;
}
.rangerlogo_56_99 {
	position:relative;
	left: 80px;
	top: 0px;
}
.blog_22_40 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:1024px;
	position:relative;
}
.frame_4_22_41 { 
	background-color:rgba(176.37499898672104, 176.37499898672104, 176.37499898672104, 1);
	width:648px;
	height:93px;
	position:relative;
	left:396px;
	top:42px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.work_22_42 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:57px;
	position:relative;
	left:107px;
	top:18px;
	font-family:Saira Stencil One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.about_22_43 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:57px;
	position:relative;
	left:286px;
	top:18px;
	font-family:Saira Stencil One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.blog_22_44 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:57px;
	position:relative;
	left:476px;
	top:18px;
	font-family:Saira Stencil One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.blog_22_45 { 
	color:rgba(255, 255, 255, 1);
	width:1201px;
	height:604px;
	position:relative;
	left:139px;
	top: 320px;
	font-family:Saira Stencil One;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
