
#AboutWindow {
    display: none;
}

#introtext {
    width: 50%;
}

@media (min-width: 640px) {
    #introtext {
        width: 45%;
    }
}

#ProjectWindow {
    display: none;
}

#SkillsWindow {
    display: none;
}

#ContactsWindow {
    display: none;
}