body::-webkit-scrollbar {
    display: none;
  }

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#AboutWindow {
    display: none;
}

@media screen and (max-width: 600px) {
    #Quoteboard{
        display: none;
    }
}

#Quoteboard {
display: block;
}


#introtext {
    width: 80%;
}

@media (min-width: 640px) {
    #introtext {
        width: 45%;
    }
}

#ProjectWindow {
    display: none;
}

#SkillsWindow {
    display: none;
}

#ContactsWindow {
    display: none;
}