---
    import Img from "../lottie/img.svelte";
---
<div class=" w-screen h-screen place-items-center pt-12">
    <div class=" flex flex-col sm:flex-row justify-center gap-12 sm:gap-40">
        <div class="flex flex-col text-timberwolf order-2 sm:order-2">
            <p class=" text-4xl font-extrabold"> About</p>
            <p class=" text-xl w-96"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum officia veritatis unde, optio velit earum accusantium odit dignissimos? Ut dolor aut optio quasi quo veritatis in ipsam natus magni necessitatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum atque doloribus repellat ea, sint velit, eius, sapiente doloremque placeat dicta totam fugit itaque veniam molestiae provident illo quia veritatis nobis.</p>
        </div>
        <div class="order-1 sm:order-2">
            <Img client:only="svelte" Link={"https://assets2.lottiefiles.com/packages/lf20_GofK09iPAE.json"}/>
        </div>
    </div>
</div>

