---
    import Img from "../svelte/img.svelte";
---
<div class=" w-screen h-screen">
    <div class=" flex flex-row justify-center gap-40">
        <div class="flex flex-col text-white">
            <p class=" text-4xl font-extrabold" title="yoy"> About</p>
            <p class=" text-xl w-96"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum officia veritatis unde, optio velit earum accusantium odit dignissimos? Ut dolor aut optio quasi quo veritatis in ipsam natus magni necessitatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum atque doloribus repellat ea, sint velit, eius, sapiente doloremque placeat dicta totam fugit itaque veniam molestiae provident illo quia veritatis nobis.</p>
        </div>
        <Img client:only="svelte" />
    </div>
</div>

