---
import Cards from "../svelte/cards.svelte";
---
<main>
    <p class=" text-4xl font-extrabold text-center text-white"> Skills</p>
    <div class=" mt-8">
        <Cards client:only="svelte"/>
    </div>
</main>