---
import SCard from "../svelte/s_card.svelte";
---
<main>
    <p class=" text-4xl font-extrabold text-center text-timberwolf pt-5"> Skills</p>
    <div class=" mt-8">
        <SCard Desc="Hello" Title="Yessir" Path="Urmother" Link="Heheheh"></SCard>
    </div>
</main>