---
import SCard from "../svelte/s_card.svelte";
---
<main>
    <p class=" text-4xl font-extrabold text-center text-timberwolf pt-5"> Skills</p>
    <div class=" mt-8 grid grid-flow-col sm:grid-cols-2 grid-cols-1 md:grid-cols-3 place-items-center">
        <SCard Desc="Hello" Title="Yessir" Path="Urmother" Link="Heheheh"></SCard>
        <SCard Desc="Hello" Title="Yessir" Path="Urmother" Link="Heheheh"></SCard>
        <SCard Desc="Hello" Title="Yessir" Path="Urmother" Link="Heheheh"></SCard>
    </div>
</main>

<style>

/* make the SCard componenet fade in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
SCard {
    animation: fadeIn 500ms ease-in-out;
}

</style>