---
import Layout from "../layout/layout.astro";

---

<Layout title="About">
    <div class="bg-[#1C2321] w-screen h-[96vh] flex flex-col overflow-y-scroll">
        <div class="flex flex-row justify-around">
            <h1 class="text-lg text-white text-center pt-2 flex-1">About</h1>
            <a href="/" class="text-white ml-auto mr-2 mt-2"><div class="bg-red-700 w-5 h-5 rounded-full"></div></a>
        </div>
    </div>
</Layout>