---
import Layout from "../layouts/Layout.astro";
import Header from "../components/svelte/header.svelte";
// import Cards from "../components/svelte/cards.svelte";
---

<Layout title="Rangerdevv" link="/about" prev="/">
	<Header client:only="svelte" />
	<!-- <Cards client:only="svelte" /> -->
	<!-- <div class="w-screen h-20"></div> -->
</Layout>