---
import Layout from "../layout/layout.astro";
import SS1 from "../media/images/ss1.png";
import SS2 from "../media/images/ss2.png";
import SS3 from "../media/images/ss3.png";

---

<Layout title="About">
    <div class="bg-[#1C2321] w-screen h-[96vh] flex flex-col overflow-y-scroll">
        <div class="flex flex-row justify-around">
            <h1 class="text-lg text-gray-400 text-center pt-2 flex-1">Projects</h1>
            <a href="/" class="text-white ml-auto mr-2 mt-2"><div class="bg-red-700 w-5 h-5 rounded-full"></div></a>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 mx-auto">
            <div class="bg-[#283531] outline p-2 rounded-lg m-2 w-96">
                <img src={SS1.src} alt="ss1" class="w-full h-48 object-cover rounded-lg">
                <h1 class="text-white text-xl font-bold pt-3">GreenBeen</h1>
                <p class="text-white  text-sm">GreenBeen is a website that I created for the 2024 PATSA states tournament. This website placed 7th in the entire state of Pennsylvania. The animations in the website is created using GSAP.</p>
                <div class="flex flex-wrap gap-2 pt-4">
                    <i class="devicon-astro-plain colored text-2xl"></i>
                    <i class="devicon-svelte-plain colored text-2xl"></i>
                    <i class="devicon-tailwindcss-original colored text-2xl"></i>
                    <i class="devicon-npm-original-wordmark colored text-2xl"></i>
                    <a href="https://green-been.vercel.app/" target="_blank"><button class="bg-[#5E6572] text-white p-1 rounded-md text-xs">Visit Website</button></a>
                </div>
            </div>
            <div class="bg-[#283531] outline p-2 rounded-lg m-2 w-96">
                <img src={SS2.src} alt="ss1" class="w-full h-48 object-cover rounded-lg">
                <h1 class="text-white text-xl font-bold pt-3">DraftOnn</h1>
                <p class="text-white  text-sm">DraftOnn is a cross-platform note taking application. Draftonn is a very simplistic website that allows for users to take notes, create todo lists, and write free-hand drawings.</p>
                <div class="flex flex-wrap gap-2 pt-4">
                    <i class="devicon-astro-plain colored text-2xl"></i>
                    <i class="devicon-svelte-plain colored text-2xl"></i>
                    <i class="devicon-tailwindcss-original colored text-2xl"></i>
                    <i class="devicon-npm-original-wordmark colored text-2xl"></i>
                    <i class="devicon-appwrite-plain colored text-2xl"></i>

                    <a href="https://draftonn.vercel.app/" target="_blank"><button class="bg-[#5E6572] text-white p-1 rounded-md text-xs">Visit Website</button></a>
                </div>
            </div>
            <div class="bg-[#283531] outline p-2 rounded-lg m-2 w-96">
                <img src={SS3.src} alt="ss3" class="w-full h-48 object-cover rounded-lg">
                <h1 class="text-white text-xl font-bold pt-3">Rocket Space</h1>
                <p class="text-white  text-sm">Rocket Space is a website that I created for the 2023 PATSA states tournament. This website placed 9th in the entire state of Pennsylvania. The whole website is created using pure HTML and Javascript.</p>
                <div class="flex flex-wrap gap-2 pt-4">
                    <i class="devicon-html5-plain colored text-2xl"></i>
                    <i class="devicon-javascript-plain colored text-2xl"></i>
                    <i class="devicon-tailwindcss-original colored text-2xl"></i>
                    <i class="devicon-npm-original-wordmark colored text-2xl"></i>
                    <a href="https://rocketspace.vercel.app/" target="_blank"><button class="bg-[#5E6572] text-white p-1 rounded-md text-xs">Visit Website</button></a>
                </div>
            </div>
            <div class="bg-[#283531] outline p-2 rounded-lg m-2 w-96">
                <h1 class="text-white text-xl font-bold pt-3">Spectrum Sense</h1>
                <p class="text-white  text-sm">Spectrum Sense is a desktop application that uses convolutional neural networks, linear algebra, and Eular angles in order to analyze a child's facial movements. These movements will then be translated to let the parents know if at the child is at a risk of Autism. This project aims to help parents detect early signs of Autims in their children and also to help with early diagnosis issues.</p>
                <div class="flex flex-wrap gap-2 pt-4">
                    <i class="devicon-python-plain colored text-2xl"></i>
                    <a target="_blank"><button class="bg-[#5E6572] text-white p-1 rounded-md text-xs">No Website available</button></a>
                </div>
            </div>
        </div>

        <div class="flex flex-col gap-5">
            <h1 class="text-xl text-white text-center pt-2">More Projects</h1>
            <div class="flex flex-wrap gap-5 justify-center">
                <div class="bg-[#283531] outline p-2 rounded-lg m-2 w-96">
                    <h1 class="text-white text-xl font-bold pt-3">Neia</h1>
                    <p class="text-white text-sm">Neia is a text based RPG game where the player is on a quest to rescue her sister from the evil overlords who captured her during an intense battle. You better pick your choices wisely, or else you might be the one who ends up needing to be rescued!</p>
                </div>
                <div class="bg-[#283531] outline p-2 rounded-lg m-2 w-96">
                    <h1 class="text-white text-xl font-bold pt-3">Neia</h1>
                    <p class="text-white text-sm">Neia is a text based RPG game where the player is on a quest to rescue her sister from the evil overlords who captured her during an intense battle. You better pick your choices wisely, or else you might be the one who ends up needing to be rescued!</p>
                </div>
            </div>
        </div>

        </div>
</Layout>