
.work_15_4 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:3745px;
	position:absolute;
}
.frame_3_15_5 { 
	background-color:rgba(176.37499898672104, 176.37499898672104, 176.37499898672104, 1);
	width:648px;
	height:93px;
	position:absolute;
	left:396px;
	top:42px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.work_15_6 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:57px;
	position:absolute;
	left:107px;
	top:18px;
	font-family:Saira Stencil One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.about_15_7 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:57px;
	position:absolute;
	left:286px;
	top:18px;
	font-family:Saira Stencil One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.blog_15_8 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:57px;
	position:absolute;
	left:476px;
	top:18px;
	font-family:Saira Stencil One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.diethunter_20_9 { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:57px;
	position:absolute;
	left:627px;
	top:289px;
	font-family:Saira Stencil One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.vstream_20_13 { 
	color:rgba(255, 255, 255, 1);
	width:143px;
	height:57px;
	position:absolute;
	left:648px;
	top:1505px;
	font-family:Saira Stencil One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.alliance_e_health_20_11 { 
	color:rgba(255, 255, 255, 1);
	width:294px;
	height:57px;
	position:absolute;
	left:573px;
	top:897px;
	font-family:Saira Stencil One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.night_light_20_14 { 
	color:rgba(255, 255, 255, 1);
	width:191px;
	height:57px;
	position:absolute;
	left:624px;
	top:2113px;
	font-family:Saira Stencil One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.l_a_m_p_20_17 { 
	color:rgba(255, 255, 255, 1);
	width:135px;
	height:57px;
	position:absolute;
	left:652px;
	top:2721px;
	font-family:Saira Stencil One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.rectangle_10_20_10 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:974px;
	height:519px;
	position:absolute;
	left:233px;
	top:362px;
}
.rectangle_12_20_15 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:974px;
	height:519px;
	position:absolute;
	left: 233px;
	top:1578px;
}
.rectangle_11_20_12 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:974px;
	height:519px;
	position:absolute;
	left:233px;
	top:970px;
}
.rectangle_13_20_16 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:974px;
	height:519px;
	position:absolute;
	left: 233px;
	top:2186px;
}
.rectangle_14_20_18 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:974px;
	height:519px;
	position:absolute;
	left: 233px;
	top:2794px;
}
